# Virtual environment
venv/
.venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Python build artifacts
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
